;----
;db "This is a C string"
0x107,0x119,s,S_107
;----
;db "This is a Amstrad strin"
0x11a,0x131,s,S_11a
;----
0x146,0x147,s,A_string
0x148,0x14a,s,AB_string
0x14b,0x14e,s,ABC_string
;db "ABCD"
0x14f,0x153,s,S_14f
